@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap');

.actions-menu {
    padding: 20px 30px;
}

.actions-menu h1{
    margin-botton: 20px;
}


.form-row{
    padding: 20px 0px;
}

.carousel-caption
{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2vw;
    color: #00ccff ;
    -webkit-text-stroke: 0.3px rgb(8, 8, 8);
   
}

